#profileImg1 {
    border-radius: 50%; /*this allows you to make the image a circle*/
    border: 4px solid gold;
    position: relative; /*the position is relative to the section its connected to*/
    left: 30%;

}

section{
    width: 40%;
    height: 650px;
    position: fixed;
    top: 0px;
    right: 100px;
    background-color:rgb(189, 194, 203,0.5);
    display:block;
}

.profile_signOut a{ /* the a tells it that you are trying to style the link*/
    position: relative;
    left: 40px;
    top: 10px;
    cursor: pointer;
    font-size:30px;
    color:black;
}

.profile_signOut a:hover{
    font-size:30px;
    color: #0033ff;
}

.profile_info {
    position: relative;
    left: 40%;
    top: 0px;
    font-size:20px;
}

.profile_info a{
    color:black;
}

.profile_info a:hover{
    color:#0033ff;
}

.follow_stats{
    font-size: 30px;
    position: relative;
    left: 40px;
    display: flex;
    gap: 250px;
}

.username_info{
    font-size: 30px;
    position: relative;
    left: 290px;
}

.btn {
    border: none;
    background-color:rgb(189, 194, 203, 0.5);
    font-size:30px;
    cursor:pointer;
    position:relative;
    left: 260px;
}

.profile_immutables{
    font-size: 25px;
    position: relative;
    left: 40px;
}







